/* Set up for old browsers */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: Geologica;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(''), url('/assets/fonts/geologica/geologica-bold.woff2') format('woff2');
  }

  @font-face {
    font-family: Geologica;
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local(''),
      url('/assets/fonts/geologica/geologica-semibold.woff2') format('woff2');
  }

  @font-face {
    font-family: Geologica;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local(''), url('/assets/fonts/geologica/geologica-medium.woff2') format('woff2');
  }

  @font-face {
    font-family: Geologica;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local(''), url('/assets/fonts/geologica/geologica-light.woff2') format('woff2');
  }

  @font-face {
    font-family: Geologica;
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: local(''),
      url('/assets/fonts/geologica/geologica-lightitalic.woff2') format('woff2');
  }
}

/* Set up for modern browsers, all weights */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Geologica';
    src: url('assets/fonts/geologica/geologica-variable.woff2') format('woff2-variations');
    font-weight: 400 900;
    font-stretch: 25% 125%;
    font-style: oblique 0deg 12deg;
    font-display: swap;
  }
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local(''), url(/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2);
}
