.button {
  color: var(--button-text, var(--color-text));
  background-color: var(--button-bg, var(--color-bg));
  border: 2px solid var(--button-border, var(--color-text));
  border-radius: var(--border-radius);
  display: inline-block;
  font: inherit;
  padding: 0.3em 1em;
  font-weight: 700;
  transition-property: background-color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing);
  text-decoration: none;
}

.button:hover {
  --button-bg: var(--color-text);
  --button-text: var(--color-bg);
  --button-border: var(--color-text);
}

.button {
  --button-background: var(--color-bg);
  --button-color: var(--color-text);
  --outline-color: transparent;
  align-items: center;
  background-color: var(--button-background);
  border: 2px solid transparent;
  border-radius: 0.5em;
  color: var(--button-color);
  cursor: pointer;
  display: inline-flex;
  gap: 0.5em;
  justify-content: center;
  line-height: calc(4px + 2ex);
  min-width: 10ch;
  padding: 0.55em 0.75em 0.5em;
  text-align: center;
  text-decoration: none;
  transition: none 0.18s ease-in-out;
  transition-property: background-color, color, border-color;
}
.button:focus {
  box-shadow: 0 0 0 max(0.15em, 2px) var(--button-focus-inner, var(--button-color)),
    0 0 0 max(0.3em, 2px) var(--button-focus-outer, var(--button-background));
}
.button:active,
.button:hover {
  background-color: var(--button-hover-background-color, var(--button-color));
  color: var(--button-hover-color, var(--button-background));
}
.button:active:not(.button-outlined),
.button:hover:not(.button-outlined) {
  border-color: var(--button-hover-border-color, currentColor);
}
.button--secondary {
  --button-background: var(--color-secondary);
  --button-color: var(--color-on-secondary);
}
.button--blue {
  --button-background: var(--color-blue);
  --button-color: var(--color-on-blue);
}
.button-outlined {
  --button-background: transparent;
  --button-color: var(--color-blue);
  --button-hover-color: var(--color-on-blue);
  --button-focus-inner: var(--color-background);
  --button-focus-outer: var(--color-blue);
  border-color: var(--button-color);
}
.button-outlined--inverse {
  --button-background: transparent;
  --button-color: var(--color-inverse);
  --button-hover-background-color: hsla(0, 0%, 100%, 0.16);
  --button-hover-color: currentColor;
  --button-focus-outer: currentColor;
}
.button__icon {
  flex-shrink: 0;
  height: 1em;
  width: 1em;
}
.button-icon {
  --button-background: transparent;
  --button-color: var(--color-inverse);
  --button-hover-background-color: hsla(0, 0%, 100%, 0.16);
  --button-hover-color: currentColor;
  --button-focus-outer: currentColor;
  border-radius: 50%;
  height: 1.75em;
  min-width: unset;
  padding: 0.15em;
  width: 1.75em;
}
.button--small {
  font-size: 1rem;
}
