.decorative {
  position: absolute;
  right: 0;
  z-index: -1;
}

.square {
  background-color: var(--decorative-color, var(--color-accent));
  inline-size: var(--decorative-width, 38%);
  block-size: var(--decorative-height, 100%);
}

.circle {
  background-color: var(--decorative-color, var(--color-accent));
  inline-size: var(--decorative-width, 48vw);
  block-size: var(--decorative-height, 48vw);
  border-radius: 100%;
  transform: translateY(var(--decorative-y-offset, -20%))
    translateX(var(--decorative-x-offset, 15%));
}
