.decorative {
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: -1;
  grid-column: var(--decorative-grid-column, 4/-1);
  grid-row: var(--decorative-grid-row, 1/-1);
  background-color: var(--decorative-color, var(--color-accent));
}

.tilted {
  transform: skew(var(--decorative-skew, 3deg))
    translateX(var(--decorative-translate-x, 2.5rem));
}

.circle {
  inline-size: var(--decorative-width, 48vw);
  block-size: var(--decorative-height, 48vw);
  border-radius: 100%;
  transform: translateY(var(--decorative-y-offset, -20%))
    translateX(var(--decorative-x-offset, 15%));
}
