.prose {
  --flow-space: var(--space-m-l);
  max-width: 55rem;
}
.prose > img,
.prose > table {
  width: 100%;
}
.prose figure img {
  border: 1px dashed var(--color-mid);
  margin-inline: auto;
}
.prose :is(ol, ul:not(.cluster)) li::marker {
  color: var(--color-accent);
  content: '- ';
  font-weight: 700;
}
.prose :is(ol, ul:not(.cluster)) {
  padding-inline-start: 1.85em;
}
.prose ol li::marker {
  color: var(--color-accent);
}
.prose :is(ol, ul:not(.cluster)) li + li {
  margin-top: var(--space-s);
}
.prose :is(pre, pre + *, figure, figure + *, h2, h3, h4) {
  --flow-space: var(--space-l-xl);
}
.prose h1 + * {
  --flow-space: 0.5em;
}
.prose :is(h2 + *, h3 + *, h4 + *) {
  --flow-space: var(--space-s);
}

@media screen(ltmd) {
  /* break long words */
  .prose > *,
  .prose a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    hyphens: auto;
  }
}

@media screen(md) {
  .prose :is(ul, ol) {
    padding-inline-start: 0.15ch;
  }
}
