.video-wrapper {
  inline-size: 100%;
  position: relative;
  padding: 0;
  padding-top: 56.25%;
}

is-land.video-wrapper {
  display: block;
}

.video-wrapper lite-youtube,
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: 100%;
  inline-size: 100%;
}
