---
title: CTA
variations:
usage: '<custom-cta @button="button name" @title="A title" @target="/thinking/">The content goes here</custom-cta>'
instructions: 'The content goes in the default slot between the tags. You can set button text, title and target.'
---

<p>{{ instructions }}</p>

<pre><code>{{ usage | escapeHtml }}</code></pre>

<custom-cta
  @button="button name"
  @title="Have a look at some of the projects I built!"
  @target="/thinking/"
>
  I love creating personalized web experiences that are fast, secure, accessible,
  environmentally friendly and privacy compliant.
</custom-cta>

