---
title: Pricing (raw)
usage: '<custom-pricing @title="Coaching" @element="h2" @description="The description of this offering. Few words." @price="$1000" @conditions="per month / billed annually" @button="Get started" @link="#" > <ul> <li>This is a feature</li> <li>Something else this does</li> <li>Such a good deal</li> <li>Hello</li> </ul> </custom-pricing>'
instructions: 'Usable as wrapper or as single pricing box (should be wrapped in layout class). Adding class="emphasize" adds a light background color in the current theme.'
---

<p>{{ instructions }}</p>

<pre><code>{{ usage | escapeHtml }}</code></pre>

<custom-pricing
  @title="Coaching"
  @element="h2"
  @description="The description of this offering. Few words."
  @price="$1000"
  @conditions="per month / billed annually"
  @button="Get started"
  @link="#"
>
  <ul>
    <li>This is a feature</li>
    <li>Something else this does</li>
    <li>Such a good deal</li>
    <li>Hello</li>
  </ul>
</custom-pricing>

<div
  class="grid region"
  data-layout="50-50"
  style="--grid-min-item-size: 15rem; --gutter: var(--space-s)"
>
  <custom-pricing
    @title="Coaching"
    @element="h2"
    @description="The description of this offering. Few words."
    @price="$1000"
    @conditions="per month / billed annually"
    @button="Get started"
    @link="#"
  >
    <ul>
      <li>This is a feature</li>
      <li>Something else this does</li>
      <li>Such a good deal</li>
      <li>Hello</li>
    </ul>
  </custom-pricing>
  <custom-pricing
    @title="Advisory"
    @element="h2"
    @description="The description of this offering. Few words. Contrary to popular belief, Lorem Ipsum is not simply random text"
    @price="$2000"
    @conditions="per month / billed annually"
    @button="Get started"
    @link="#"
  >
    <p>
      There can also be normal text. Solutions that help large organizations build a
      strong open source culture and leverage it to recruit, retain, and foster top
      software engineering talent, improve team efficiency, and boost innovation.
    </p>
  </custom-pricing>
</div>

<div class="grid region" data-layout="50-50" style="--grid-min-item-size: 15rem">
  <custom-pricing
    @title="Coaching"
    @element="h2"
    @description="The description of this offering. Few words."
    @price="$1000"
    @conditions="per month / billed annually"
    @button="Get started"
    @link="#"
  >
    <ul>
      <li>This is a feature</li>
      <li>Something else this does</li>
      <li>Such a good deal</li>
      <li>Hello</li>
    </ul>
  </custom-pricing>
  <custom-pricing
    class="emphasize"
    @title="Advisory"
    @element="h2"
    @description="The description of this offering. Few words. Contrary to popular belief, Lorem Ipsum is not simply random text"
    @price="$2000"
    @conditions="per month / billed annually"
    @button="Get started"
    @link="#"
  >
    <p>
      There can also be normal text. Solutions that help large organizations build a
      strong open source culture and leverage it to recruit, retain, and foster top
      software engineering talent, improve team efficiency, and boost innovation.
    </p>
  </custom-pricing>
  <custom-pricing
    @title="Team Advisory"
    @element="h2"
    @description="The passage, and going through the cites of the word in classical literature"
    @price="$5000"
    @conditions="per month / billed annually"
    @button="Get started"
    @link="#"
  >
    <ul>
      <li>This is a feature</li>
      <li>Something else this does</li>
      <li>Such a good deal</li>
      <li>Atque dolorem consequatur deleniti.</li>
    </ul>
  </custom-pricing>
</div>
