---
title: Pricing
usage: "<pricing-services></pricing-services>"
instructions: 'Usable as wrapper or as single pricing box (should be wrapped in layout class). Adding class="emphasize" adds a light background color in the current theme.'
---

<p>{{ instructions }}</p>

<pre><code>{{ usage | escapeHtml }}</code></pre>

<pricing-services></pricing-services>
