---
title: Video
usage: '<custom-youtube @slug="nLfJiFpU1Io" @label="A video" @subtitle="subtitle"></custom-youtube>'
instructions: "The subtitle serves as a figcaption and is optional."
---

<p>{{ instructions }}</p>

<pre><code>{{ usage | escapeHtml }}</code></pre>

<custom-youtube
  @slug="nLfJiFpU1Io"
  @label="Title of the video"
  @subtitle="subtitle"
></custom-youtube>
