---
permalink: "presentations/index.html"
title: "Presentations"
mainclass: 'presentation'
layout: 'page'
theme: 'tangerine'
decorative:
  shape: tilted
  settings: '--decorative-height: 25%'
---
<ul>
	{% for presentation in notist.presentations %}
		<li><a href="/presentations/{{ presentation.slug }}/index.html">{{ presentation.title }}</a></li>
	{% endfor %}
</ul>