---
title: Buttons
layout: sg-wrapper
---

<h2>Buttons</h2>

<h3>Primary Buttons</h3>
<p>
  <button class="button">button - class .button</button>
  <button class="button">
    button - class .button <span aria-hidden="true" class="fe fe-plus-circle"></span>
  </button>
  <button class="button" disabled>button disabled - class .button</button>
  <a href="#" class="button">link - class .button</a>
  <a href="#" class="button"
    >link - class .button <span aria-hidden="true" class="fe fe-plus-circle"></span
  ></a>
</p>

<hr class="sg-hr" />
<h3 class="global-margin-bottom">
  Secondary (<code>button & button--secondary</code> class)
</h3>
<p>
  <button class="button button--secondary">button - class .button</button>
  <button class="button button--secondary">
    button - class .button <span aria-hidden="true" class="fe fe-plus-circle"></span>
  </button>
  <button class="button button--secondary" disabled>
    button disabled - class .button
  </button>
  <a href="#" class="button button--secondary">link - class .button</a>
  <a href="#" class="button button--secondary"
    >link - class .button <span aria-hidden="true" class="fe fe-plus-circle"></span
  ></a>
</p>

<hr class="sg-hr" />
<h3 class="global-margin-bottom">Large (<code>button & button--large</code> class)</h3>
<p>
  <button class="button button--large">button - class .button button--large</button>
  <button class="button button--large">
    button - class .button button--large
    <span aria-hidden="true" class="fe fe-plus-circle"></span>
  </button>
  <button class="button button--large" disabled>
    button disabled - class .button button--large
  </button>
  <a href="#" class="button button--large">link - class .button button--large</a>
  <a href="#" class="button button--large"
    >link - class .button button--large
    <span aria-hidden="true" class="fe fe-plus-circle"></span
  ></a>
</p>

<hr class="sg-hr" />
<h3 class="global-margin-bottom">Small (<code>button & button--small</code> class)</h3>
<p>
  <button class="button button--small">button - class .button button--small</button>
  <button class="button button--small">
    button - class .button button--small
    <span aria-hidden="true" class="fe fe-plus-circle"></span>
  </button>
  <button class="button button--small" disabled>
    button disabled - class .button button--small
  </button>
  <a href="#" class="button button--small">link - class .button button--small</a>
  <a href="#" class="button button--small"
    >link - class .button button--small
    <span aria-hidden="true" class="fe fe-plus-circle"></span
  ></a>
</p>

<hr class="sg-hr" />
<h3 class="global-margin-bottom">
  Elements with the <code>button & button--flat</code> class
</h3>
<p>
  <button class="button button--flat">button - class .button button--flat</button>
  <button class="button button--flat">
    button - class .button button--flat
    <span aria-hidden="true" class="fe fe-plus-circle"></span>
  </button>
  <button class="button button--flat" disabled>
    button disabled - class .button button--flat
  </button>
  <a href="#" class="button button--flat">link - class .button button--flat</a>
  <a href="#" class="button button--flat"
    >link - class .button button--flat
    <span aria-hidden="true" class="fe fe-plus-circle"></span
  ></a>
</p>

<hr class="sg-hr" />
<h3 class="global-margin-bottom">
  Elements with the <code>button & button--full-width-mobile</code> class
</h3>
<p>
  <button class="button button--full-width-mobile">
    button - class .button button--full-width-mobile
  </button>
  <button class="button button--full-width-mobile">
    button - class .button button--full-width-mobile
    <span aria-hidden="true" class="fe fe-plus-circle"></span>
  </button>
  <a href="#" class="button button--full-width-mobile"
    >link - class .button button--full-width-mobile</a
  >
  <a href="#" class="button button--full-width-mobile"
    >link - class .button button--full-width-mobile
    <span aria-hidden="true" class="fe fe-plus-circle"></span
  ></a>
</p>

<hr class="sg-hr" />
<h3 class="global-margin-bottom">
  Elements with the
  <code>button button--small button--secondary & button--action</code> class
</h3>
<p>
  <button class="button button--small button--secondary button--info">View</button>
  <button class="button button--small button--secondary button--success">Edit</button>
  <button class="button button--small button--secondary button--warning">Archive</button>
  <button class="button button--small button--secondary button--error">Delete</button>
  <a href="#" class="button button--small button--secondary button--info">View</a>
  <a href="#" class="button button--small button--secondary button--success">Edit</a>
  <a href="#" class="button button--small button--secondary button--warning">Archive</a>
  <a href="#" class="button button--small button--secondary button--error">Delete</a>
</p>
