---
eleventyComputed:
  title: '{{ designTokens.fonts.title }}'
---

<p>{{ designTokens.fonts.description }}</p>

<ul class="sg-fonts flow">
  {%- for font in designTokens.fonts.items %}
  <li class="sg-font" style="font-family: var(--font-{{ font.name | slugify }})">
    <h3 style="font-family: var(--font-{{ font.name | slugify }})">{{ font.name }}</h3>
    <p>{{ font.description }}</p>
    <p><strong>Font Families</strong>: {{ font.value }}</p>
    <code>var(--font-{{ font.name | slugify }})</code>
  </li>
  {%- endfor %}
</ul>
