---
layout: base
masonry: true
---

<article class="grid header" data-layout="50-50">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>

<section>
  <ul class="blogcards | grid" role="list" data-rows="masonry" data-layout="50-50">
    <!-- loop posts -->
    {% set itemList = pagination.items %}
    {% for item in itemList %}
      <!-- set date context -->
      {% set definedDate = item.date %}
      <!-- set heading context -->
      {% set headingContext = "h2" %}
      <!-- include card -->
      {% include 'components/card.njk' %}
    {% endfor %}
  </ul>

  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.articles %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "articles" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'components/pagination.njk' %}
  {% endif %}
</section>
