{% set assetHash = helpers.random() %}

<!doctype html>
<html lang="{{ meta.lang }}" data-theme="{{ theme or 'default' }}">
  <head>
    <!-- charset/viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- title -->
    <title>
      {% if discover.title %}
        {{ discover.title }}
      {% elif title %}
        {{ title }}
      {% else %}
        {{ meta.siteName }}
      {% endif %}
    </title>

    <!-- synchronous js  -->
    {% include "partials/js-inline.njk" %}

    <!-- inline base schema -->
    {% include "schemas/base-schema.njk" %}

    <!-- inline blogpost schema  -->
    {% if schema == 'blog' %}{%- include "schemas/blogpost-schema.njk" -%}{% endif %}

    <!-- CSS  -->
    <link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" />

    <!-- preloads  -->
    {% include "partials/preloads.njk" %}

    <!-- defered js  -->
    {% if meta.navigation.drawerNav %}
      <!-- menu drawer js, if true in meta -->
      <script src="/assets/scripts/nav-drawer.js?{{ assetHash }}" defer></script>
    {% endif %}

    <!-- everything else: meta tags, icons, open graph etc.  -->
    {% include "partials/meta-info.njk" %}
  </head>

  <body class="{{ layout }}">
    {% include "partials/header.njk" %}

    <main id="main" {% if mainclass %}class="{{ mainclass }}"{% endif %}>
      {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}

    {%- if decorative -%}
      {% svg "decorative/" + decorative.shape, null, "decorative", decorative.settings %}
    {%- endif -%}
  </body>
</html>
