---
layout: base
decorative:
  shape: rectangle
---

<h1 {% if h1class %}class="{{ h1class }}"{% endif %}>{{ title }}</h1>

<section class="flow prose page">
  {% if image %}
    {% image image.src, image.alt, null, "eager", null, image.sizes, image.widths %}
  {% endif %}

  {{ content | safe }}
</section>
