
  :is(
    figure,
    figure + *,
    picture,
    picture + *:not(figcaption),
  ) {
  --flow-space: var(--space-m-l);
}

figcaption {
  --flow-space: var(--space-s);
  font-size: var(--size-step-min-1);
	color: var(--color-grey-dark);
}


