/* Based on Andy Bell, https://github.com/Andy-set-studio/personal-site-eleventy */

.prose {
  --flow-space: var(--space-s);
  max-inline-size: 60rem;
}

.prose :is(pre, pre + *, .intro, .intro + *) {
  --flow-space: var(--space-m-l);
}

.prose :is(h2, h3, h4) {
  --flow-space: var(--space-m-l);
}

.prose :is(h2 + *, h3 + *, h4 + *):not(figure) {
  --flow-space: var(--space-m);
}

.prose .heading-anchor:is(:hover, :focus) {
  text-decoration: none;
}

.prose .heading-anchor {
  text-decoration: none;
}

.prose mark {
  background-color: var(--color-accent);
  color: var(--color-text);
}

/* block space only for "regular lists" */
.prose :not(.cluster):not(.grid) > li + li {
  padding-block-start: var(--space-xs);
}

/* inline space only for "regular lists" */
.prose :where(ul:not(.grid, .clients), ol:not(.grid)) {
  padding-inline-start: 1.5ch;
}

/* marker only for "regular lists" */
.prose :where(ul:not(.grid):not([role="list"])) li::marker {
  color: var(--color-accent);
  content: "– ";
}

.prose ol li::marker {
  color: var(--color-accent);
}

.prose img {
  border-radius: var(--border-radius);
}

@media screen(ltsm) {
  .prose > *,
  .prose a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    hyphens: auto;
  }
}
