.article article > * {
  grid-column: 1 / -1;
}

@media (min-width: 30em) {
  .article article > * {
    grid-column: 2 / -1;
  }
}

.article article > :is(h1, h2, h3, .featured) {
  grid-column: 1 / -1;
}

.article article .lede {
  font-size: var(--size-step-1);
  line-height: var(--leading-fine);
  font-weight: var(--font-light);
  grid-column: 1 / -1;
}

.article article .featured img {
  block-size: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.article article .featured {
  position: relative;
  padding: var(--space-s);
  max-inline-size: 50rem;
}

.article article .featured::before {
  z-index: -1;
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 50%;
  block-size: 50%;
  border-inline-start: 1px solid var(--color-accent);
  border-block-end: 1px solid var(--color-accent);
}

.article article img {
  object-fit: cover;
  object-position: center;
}

.article article :is(figure, picture) {
  max-inline-size: 40rem;
}

.article article figure {
  color: var(--color-grey-dark);
}

.article article .date {
  font-size: var(--size-step-1);
}

.article article .meta {
  font-size: var(--size-step-min-1);
}

.article .disclaimer {
  margin-top: 0;
  font-size: var(--size-step-min-1);
  font-weight: var(--font-light);
  font-style: italic;
  font-style: oblique 12deg;
  max-inline-size: 62ch;
}
