.article article > * {
  grid-column: 1 / -1;
}

@media (min-width: 30em) {
  .article article > * {
    grid-column: 2 / -1;
  }
}

.article article > :is(h1, h2, h3, .featured) {
  grid-column: 1 / -1;
}

.article article .lede {
  --flow-space: var(--space-s);
  grid-column: 1 / -1;
  font-size: var(--size-step-1);
  line-height: var(--leading-fine);
  font-weight: var(--font-light);
}
.article article .featured {
  --flow-space: var(--space-m);
  position: relative;
  max-inline-size: 50rem;
}

.article article .featured img {
  block-size: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.article article img {
  object-fit: cover;
  object-position: center;
}

.article article :is(figure, picture) {
  max-inline-size: 40rem;
}

.article article .date {
  font-size: var(--size-step-1);
}

.article .meta {
  --flow-space: var(--space-m);
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  font-size: var(--size-step-min-1);
}

.article .meta > :last-child {
  grid-column: 2/-1;
}

.article .meta > :last-child > :first-child {
  font-weight: var(--font-bold);
  text-transform: uppercase;
  letter-spacing: var(--tracking-wide);
}

.article .meta > :last-child > :last-child time::after {
  content: "·";
  padding-inline: var(--space-2xs);
}

.article .disclaimer {
  margin-top: 0;
  font-size: var(--size-step-min-1);
  font-weight: var(--font-light);
  font-style: italic;
  font-style: oblique 12deg;
  max-inline-size: 62ch;
}
