---
permalink: /index.html
title: 'Helping organizations thrive in open tech ecosystems'
description: 'Tobie Langel is a world-leading expert and international speaker on open source and standardization.'
layout: base
theme: 'aqua'
mainclass: 'home | flow'
decorative:
  shape: tilted
image:
  src: '/assets/images/pages/tobie-langel.jpg'
  alt: 'Tobie Langel'
  sizes: '(min-width: 1024px) 50vw, 100vw'
	widths: [470]
---

<h1>{{ title }}</h1>

<section>
  <div class="flow prose">
    <p>
      Tobie Langel is a world-leading expert and international speaker on open source and
      standardization. He advises some of the biggest names in tech, promising startups,
      industry organizations and nonprofits, either pro bono or through his consultancy,
      <strong>UnlockOpen</strong>.
    </p>

    <p>
      Tobie’s unique mix of deep technical expertise, open source and standardization
      street creds, and thorough understanding of IP concerns, along with his
      industry-wide network and broad, business-focused strategic perspective, make him an
      ideal partner. He excels at growing thriving open ecosystems that balance private
      and public interests in pursuit of the common good.
    </p>

    {% include 'components/client-icons.njk' %}
  </div>



	 {% image image.src, image.alt, null, "eager", null, image.sizes, image.widths %}
</section>
