---
pagination:
    data: notist.presentations
    size: 1
    alias: presentation
permalink: "{{ presentation.slug }}"
theme: golden
decorative: pizza
decorativeHeight: '70%'
layout: base
mainclass: 'speaking'
---

{{ presentation.slug }}
