.site-header {
  /* for parent grid */
  grid-column: 1 / -1;
  /* own children */
  display: grid;
  grid-template-columns: subgrid;
  padding-block-start: var(--space-s-m);
}

.site-header:after {
  content: "";
  display: block;
  border-block-end: 1px solid var(--color-text);
  mix-blend-mode: soft-light;
  grid-column: 1 / -1;
}

.site-header a {
  display: grid;
  place-items: center;
  place-content: center;
  color: currentcolor;
  text-decoration: none;
}

@supports not (grid-template-columns: subgrid) {
  .site-header {
    /* for parent grid */
    grid-column: 1 / -1;
    /* own children */
    display: flex;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
    justify-content: space-between;
  }
}
