/* set on parent div to get the right z-index context */

.site-nav-drawer {
  --gutter: var(--space-s);
  --grid-column: 1 / -1;
  --color-accent-lighter: color-mix(in oklab, var(--color-accent) 20%, var(--color-bg));
  --color-accent-darker: color-mix(in oklab, var(--color-accent) 90%, var(--color-text));
  grid-column: var(--grid-column);
  display: flex;
}

.site-nav-drawer ul {
  margin: 0;
}

.site-nav-drawer a {
  border-block-end: 0.3em solid var(--item-border-color, transparent);
  color: var(--item-color, var(--color-text));
  padding-block: var(--item-block-padding, 0.2em 0);
  text-decoration: none;
  background-color: var(--item-background-color, transparent);
  font-weight: var(--item-font-weight, var(--font-normal));
}

.site-nav-drawer a:hover {
  --item-border-color: var(--color-accent-darker);
}

.site-nav-drawer [aria-current="page"],
.site-nav-drawer [data-state="active"] {
  --item-border-color: var(--color-text);
}

/* drawer if JS enabled */
@media (scripting: enabled) {
  .site-nav-drawer {
    position: var(--nav-position, absolute);
    inset-inline-end: 1rem;
  }

  .site-nav-drawer ul {
    --gutter: 0;
    --cluster-vertical-alignment: normal;
    z-index: 1;
    background: var(--nav-list-background, var(--color-bg));
    box-shadow: var(--nav-list-shadow, -5px 0 11px 0 rgb(0 0 0 / 0.2));
    flex-direction: var(--nav-list-layout, column);
    block-size: var(--nav-list-height, 100vh);
    position: var(--nav-list-position, fixed);
    inset-block-start: 0;
    inset-inline-end: 0;
    inline-size: var(--nav-list-width, min(18rem, 100vw));
    visibility: var(--nav-list-visibility, visible);
  }

  .site-nav-drawer a {
    --item-block-padding: var(--space-xs);
    --item-color: var(--color-text);
  }

  .site-nav-drawer a:hover {
    --item-background-color: var(--color-accent-lighter);
    --item-border-color: transparent;
  }

  .site-nav-drawer [aria-current="page"],
  .site-nav-drawer [data-state="active"] {
    --item-background-color: var(--color-accent);
    --item-border-color: transparent;
    --item-font-weight: var(--font-semi-bold);
  }
}

.site-nav-drawer [aria-expanded="false"] + ul {
  transform: var(--nav-list-transform, translateX(100%));
  visibility: var(--nav-list-visibility, hidden);
}

/* animates ul only when opening to avoid flash on page load, svg always */
@media (prefers-reduced-motion: no-preference) {
  .site-nav-drawer [aria-expanded="true"] + ul,
  .site-nav-drawer svg {
    transition:
      transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55),
      visibility 0.05s linear;
  }
}

.site-nav-drawer [aria-expanded="true"] + ul {
  padding-block-start: var(--space-2xl);
}

/* Reset button styling */
.site-nav-drawer button {
  display: var(--nav-button-display, flex);
  align-items: center;
  position: relative;
  z-index: 2;
  padding: var(--space-xs) 0;
}

.site-nav-drawer span {
  font-weight: var(--font-bold);
  text-transform: uppercase;
  padding-inline-end: var(--space-2xs);
}

.site-nav-drawer svg {
  block-size: 2.5ex;
  inline-size: auto;
  color: var(--color-text);
  stroke-width: 2.5;
}

.site-nav-drawer [aria-expanded="true"] svg {
  transform: var(--nav-list-rotate, rotate(45deg));
}

@media screen(drawer) {
  .site-nav-drawer {
    --nav-button-display: none;
    --nav-position: static;
    --gutter: var(--space-s);
    --grid-column: span 3;
    justify-content: end;
    align-self: end;
  }

  .site-nav-drawer > ul {
    --gutter: var(--space-s);
    --nav-list-background: transparent;
    --nav-list-layout: row;
    --nav-list-position: static;
    --nav-list-height: auto;
    --nav-list-width: 100%;
    --nav-list-shadow: none;
    --nav-list-transform: none;
    --nav-list-visibility: visible;
    --nav-list-width: auto;
  }

  .site-nav-drawer a {
    --item-border-color: transparent;
    --item-block-padding: 0.2em 0;
    --item-background-color: transparent;
  }

  .site-nav-drawer a:hover {
    --item-border-color: var(--color-accent-darker);
    --item-background-color: transparent;
  }

  .site-nav-drawer [aria-current="page"],
  .site-nav-drawer [data-state="active"] {
    --item-border-color: var(--color-text);
    --item-background-color: transparent;
    --item-font-weight: var(--font-normal);
  }
}
