main {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  padding-block-start: var(--main-block-start, var(--space-l-2xl));
  grid-template-rows: auto 1fr;
}

main > * {
  grid-column: 1 / -1;
}

main > section {
  grid-column: 1 / -1;
  column-gap: var(--section-column-gap, 0);
}

main > article {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

@media screen(sm) {
  main > section {
    grid-column: 2 / -1;
  }
}
