pre {
  --dark-bg: color-mix(in oklab, var(--color-bg) 92%, black);
  grid-column: popout !important;
}

code,
pre {
  font-family: var(--font-mono);
  font-size: var(--size-step-min-1);
  line-height: var(--leading-regular);
  background-color: var(--dark-bg);
  padding: var(--space-xs);
  border-radius: var(--border-radius);
  overflow: auto; /* Add this line */
}

pre[class*="language-"] {
  padding: var(--space-m-l);
}

code[class*="language-"] {
  padding: 0;
}

code[class*="language-"],
pre[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: var(--color-text);
  background: var(--color-bg);
  border-radius: var(--border-radius);
  hyphens: none;
}
