---
pagination:
  data: components.components
  size: 1
  alias: component
permalink: 'style-guide/components/full/{{ component.slug }}/'
eleventyComputed:
  title: '{{ component.title }} Full Page'
layout: iframe
theme: pink
---

<div class="flow {{ component.preview }}">
  {% set params = component.context %} {% include "components/" + component.path + "/" +
  component.name + ".md" ignore missing %}
</div>
